/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background: #202024;
  }
  
header {
  background-color: #202024;
}

nav ul {
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

nav a:hover{
  text-decoration: underline;
}

.container {
  background-color: #202024;
}

.logo{
  color: #6c63ff;
}

  /* Compra de Ingressos */
  .compra {
    padding: 50px 0;
    background: #202024;
  }
  
  .compra h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }
  
  /* Informações do Evento */
  .evento-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .evento-info img {
    width: 50%;
    object-fit: cover;
  }
  
  .evento-detalhes {
    padding: 20px;
    width: 50%;
  }
  
  .evento-detalhes h3 {
    margin-bottom: 10px;
  }
  
  .evento-detalhes p {
    margin-bottom: 5px;
  }
  
  /* Formulário de Compra */
  .form-compra {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .form-compra h3 {
    margin-bottom: 20px;
  }
  
  .form-compra label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .form-compra input,
  .form-compra select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-compra .btn {
    background: #202024;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-compra .btn:hover {
    transition-duration: 0.5s;
    background: #6c63ff;
  }

  footer p {
    text-align: center;
    color: #ffff;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .evento-info {
      flex-direction: column;
    }
  
    .evento-info img,
    .evento-detalhes {
      width: 100%;
    }
  }
  